body {
	margin: 0;
	height: 100vh;
}

.game {
	height: 100vh;
}

.hidden {
	display: none !important;
}

h1 {
	color: white;
	font-size: 64px;
	margin: 0;
}

p {
	color: white;
	font-size: 16px;
}

.winner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
	height: 100vh;
	width: 100vw;
}

/* Mobile Message */
.mobile-message {
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	height: 100vh;
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: white;
	z-index: 100;
}
